{% extends "layouts/baseprincipal.html" %} {% load static %} {% block content %}

<section
  class="page_header"
  style="background: url('/media/img/fondohome.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-uppercase">Categorias</h2>
        <p>Listado de Categorias</p>
      </div>
    </div>
  </div>
</section>

<section class="shop-content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <table class="cart-table table table-bordered">
          <thead>
            <tr> 
              <th>Nombre</th>
              <th>Descripcion</th> 
              <th>Opciones</th>  
            </tr>
          </thead>
          <tbody> 
            <form method="post">
                {% csrf_token %}
            <tr> 
              <td>
               {{object.nombre}}
              </td>
              <td>
                <span >{{object.descripcion}}</span>
              </td> 
              <td>
                <button type="submit" class="btn btn-danger">Borrar</button>          
              </td> 
            </tr>
        </form>
           
          </tbody>
        </table> 
      </div>
    </div>
  </div>
</section>
 
{% endblock %}
