{% extends "layouts/baseprincipal.html" %} {% load static %} {% block content %}

<section
  class="page_header"
  style="background: url('/media/img/fondohome.jpg')"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-uppercase">Categorias</h2>
        <p>Listado de Categorias</p>
      </div>
    </div>
  </div>
</section>

<section class="shop-content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <table class="cart-table table table-bordered">
            <a href="{%url 'Tienda:RegistrarCategoria'%}" class="btn btn-success btn-lg btn-block">Registrar Categoria</a>
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Nombre</th>
              <th>Descripcion</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {%  for item in object_list  %} 
            <tr>
              <td>
                <span >{{item.id}}</span>
              </td> 
              <td>
                {{item.nombre}}
              </td>
              <td>
                <span >{{item.descripcion}}</span>
              </td>
              <td> 
                <a href="{%url 'Tienda:DeleteCategoria' item.id%}"><i class="fa fa-archive"></i></a>
                <a href="{%url 'Tienda:UpdateCategoria' item.id%}"><i class="fa fa-pencil-square-o"></i></a>
              </td>
            </tr> 

            {% empty %}
            <li>No hay categorias</li>
            {% endfor %}

            
          </tbody>
        </table> 
      </div>
    </div>
  </div>
</section>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <link href="{% static 'sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'sweetalert2/sweetalert2.min.js' %}"></script>
    <script type="text/javascript">  
            Swal.fire({
                icon: '{{ message.tags }}',
                title: '{{ message.tags}}',
                html: '{{ message }}',
            });                         
    </script> 
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
