{% extends "layouts/baseprincipal.html" %}
{% load static %}

{% block content %}
 
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-7">
                <!-- Billing Details -->
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Billing address</h3>
                    </div>
                    {{form.as_p}} 
                    <button type="submit" class="primary-btn order-submit">Guardar</button>
                </div>
                </form> 
            </div> 
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

                 {% if messages %}
                  <ul class="messages">
                      {% for message in messages %}
                      <link href="{% static 'sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}" rel="stylesheet"/>
                      <script src="{% static 'sweetalert2/sweetalert2.min.js' %}"></script>
                      <script type="text/javascript">  
                              Swal.fire({
                                  icon: '{{ message.tags }}',
                                  title: '{{ message.tags}}',
                                  html: '{{ message }}',
                              });                         
                      </script> 
                      {% endfor %}
                  </ul>
                  {% endif %}
 
{% endblock %}