{% extends "layouts/baseprincipal.html" %}

{% load static %}

{% block content %}
<section
          class="home"
          style="background: url('/media/img/fondohome.jpg')"
        >
          <div class="tittle-block">
            <div class="logo">
              <a href="index.html">
                <img src="img/logo.png" alt="logo" />
              </a>
            </div>
            <h1>DELICIOUS Food</h1>
            <h2>Tomato is a delitious restaurant website template</h2>
          </div>
          <div class="scroll-down hidden-xs">
            <a href="">
              <img src="img/arrow-down.png" alt="down-arrow" />
            </a>
          </div>
        </section>

   <section class="menu menu2">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="page-header wow fadeInDown">
                  <h1>
                    Overlay<small
                      >These fine folks trusted the award winning
                      restaurant.</small
                    >
                  </h1>
                </div>
              </div>
            </div>            
              <div class="row menu-items2">
				{% for producto in object_list %}
                <div class="menu-item2 col-sm-4 col-xs-12 ">
                  <div class="menu-info">
                    <img src="/media/{{producto.foto}}" class="img-responsive" alt="" />
                    <a href="{% url 'Tienda:Producto' producto.id %}">
                      <div class="menu2-overlay">
                        <h4>{{producto.nombre}}</h4>
                        <p>
                          Asparagus, hens egg, toasted <br />sunflower seeds,
                          Spenwood cheese
                        </p>
                        <span class="price">$ {{producto.precio}}</span>
                      </div>
                    </a>
                  </div>
                  <a href="{% url 'Tienda:Producto' producto.id %}" class="menu-more">+</a>
                </div> 
				{% empty %}
				<li>No articles yet.</li>
				{% endfor %}
              </div>           
          </div>
        </section>

 
  
     
{% endblock %}
