{% extends "layouts/baselog.html" %}
{% load static %}
  
{% block login %} 
             
                    <div class="section-title">
                        <h3 class="title">Login</h3>
                    </div>       
                  <form method="post">    
                    {% csrf_token %}             
                    <div class="form-group">
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        {{ form.password }}
                    </div>          
                    <button type="submit" >Ingresar</button>
                  </form>  
                  <a class="btn btn-link" href="{% url 'Tienda:Registro'%}">
                     Registro
                </a>
                <a class="btn btn-link" href=" ">
                  Olvidaste tu contraseña?
                </a>


                  {% if messages %}
                  <ul class="messages">
                      {% for message in messages %}
                      <link href="{% static 'sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}" rel="stylesheet"/>
                      <script src="{% static 'sweetalert2/sweetalert2.min.js' %}"></script>
                      <script type="text/javascript">  
                              Swal.fire({
                                  icon: '{{ message.tags }}',
                                  title: '{{ message.tags}}',
                                  html: '{{ message }}',
                              });                         
                      </script> 
                      {% endfor %}
                  </ul>
                  {% endif %}
                  

{% endblock %}