{% extends "layouts/baseprincipal.html"%}

{% load static %}

{% block content %}
<section class="page_header"  style="background: url('/media/img/header/1.jpg')" >
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="text-uppercase">Shop Listing</h2>
          <p>Tomato is a delicious restaurant website template</p>
        </div>
      </div>
    </div>
  </section>

<div class="shop-content">
    <div class="container">
      <div class="row">
        <aside class="col-md-3">
          <div class="side-widget">
            <h5>Our Food</h5>
            <ul class="shop-cat">
              <li>
                <a href="shop_single_full.html"
                  >Cakes <i class="fa fa-caret-right"></i
                ></a>
              </li>
              <li>
                <a href="shop_single_full.html"
                  >Almonds <i class="fa fa-caret-right"></i
                ></a>
              </li>
              <li>
                <a href="shop_single_full.html"
                  >Furniture <i class="fa fa-caret-right"></i
                ></a>
              </li>
              <li>
                <a href="shop_single_full.html"
                  >Amaranth <i class="fa fa-caret-right"></i
                ></a>
              </li>
              <li>
                <a href="shop_single_full.html"
                  >Broad Beans <i class="fa fa-caret-right"></i
                ></a>
              </li>
              <li>
                <a href="shop_single_full.html"
                  >Coriander <i class="fa fa-caret-right"></i
                ></a>
              </li>
            </ul>
          </div>
          <div class="side-widget">
            <h5>New Arrivals</h5>
            <ul class="recent-products">
              <li>
                <img src="img/shop/1/1.png" alt="" />
                <div class="rpp-info">
                  <a href="shop_single_full.html">Lorem ipsum is simp</a>
                  <div class="rc-ratings">
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <span>$100</span>
                </div>
              </li>
              <li>
                <img src="img/shop/1/2.png" alt="" />
                <div class="rpp-info">
                  <a href="shop_single_full.html">Lorem ipsum is simp</a>
                  <div class="rc-ratings">
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <span>$100</span>
                </div>
              </li>
              <li>
                <img src="img/shop/1/3.png" alt="" />
                <div class="rpp-info">
                  <a href="shop_single_full.html">Lorem ipsum is simp</a>
                  <div class="rc-ratings">
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <span>$100</span>
                </div>
              </li>
            </ul>
          </div>
        </aside>
        <div class="col-md-9">
          <div class="col-md-6">
            <div class="single-shop-carousel">
              <div>
                <img
                  class="img-responsive"
                  src="/media/{{producto.foto}}"
                  alt=""
                />
              </div>
              <div>
                <img
                  class="img-responsive"
                  src="/media/{{producto.foto1}}"
                  alt=""
                />
              </div>
              <div>
                <img
                  class="img-responsive"
                  src="/media/{{producto.foto2}}"
                  alt=""
                />
              </div>
              <div>
                <img
                  class="img-responsive"
                  src="/media/{{producto.foto}}"
                  alt=""
                />
              </div>
              <div>
                <img
                  class="img-responsive"
                  src="/media/{{producto.foto1}}"
                  alt=""
                />
              </div>
              <div>
                <img
                  class="img-responsive"
                  src="/media/{{producto.foto2}}"
                  alt=""
                />
              </div>
            </div>
            <div class="single-shop-carousel-nav">
              <div>
                <img
                  class="img-responsive"
                  src="/media/{{producto.foto}}"
                  alt=""
                />
              </div>
              <div>
                <img
                  class="img-responsive"
                  src="/media/{{producto.foto1}}"
                  alt=""
                />
              </div>
              <div>
                <img
                  class="img-responsive"
                  src="/media/{{producto.foto2}}"
                  alt=""
                />
              </div>
              <div>
                <img
                  class="img-responsive"
                  src="/media/{{producto.foto}}"
                  alt=""
                />
              </div>
              <div>
                <img
                  class="img-responsive"
                  src="/media/{{producto.foto1}}"
                  alt=""
                />
              </div>
              <div>
                <img
                  class="img-responsive"
                  src="/media/{{producto.foto2}}"
                  alt=""
                />
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="col-md-6 shop-single-info">
            <div class="shop-single-title">
              <h3 class="text-left">{{ producto.nombre }}</h3>
            </div>
            <div class="shop-single-price">
              <div class="ssp pull-left">${{producto.precio}} <span>$150</span></div>
              <div class="rc-ratings pull-right">
                <span class="fa fa-star active"></span>
                <span class="fa fa-star active"></span>
                <span class="fa fa-star active"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
            </div>
            <p>{{producto.descripcion}}
            </p>
            <div class="quantity"> 
                <form action="{% url 'Tienda:RegistrarCarrito' %}" method="post">
                  {% csrf_token %}                   
                  <input type="hidden" name="usuario" placeholder="Nombre" value="{{ user.id }}" required id="id_usuario">
                  <input type="hidden" name="producto" placeholder="Nombre" value="{{ producto.id }}" required id="id_producto">
                  <input type="number" placeholder="0" name="cantidad" required id="id_cantidad">
                  <button type="submit" class="btn btn-default pull-right">Añadir al carrito</button>               
                </form>                
            </div> 
          </div>
          <div class="clearfix"></div>
          <div class="tab-style3">
            <div class="align-center mb-40 mb-xs-30">
              <ul class="nav nav-tabs tpl-minimal-tabs animate">
                <li class="active">
                  <a
                    aria-expanded="true"
                    href="#mini-one"
                    data-toggle="tab"
                    >Food Description</a
                  >
                </li> 
              </ul>
            </div>

            <div style="height: auto" class="tab-content tpl-minimal-tabs-cont align-center section-text" >
              <div style="" class="tab-pane fade active in" id="mini-one">
                <p>{{object.descripcion}}
                </p> 
              </div> 
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="shop-products">
            <h6>More Food Items</h6>
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="product-info">
                  <div class="product-img">
                    <img src="img/shop/1.png" alt="" />
                  </div>
                  <h4>
                    <a href="recipe_detail-image.html">Food Name</a>
                  </h4>
                  <div class="rc-ratings">
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <div class="product-price">$100</div>
                  <div class="shop-meta">
                    <a href="shop_single_left.html" class="pull-left"
                      ><i class="fa fa-shopping-cart"></i> Add to cart</a
                    >
                    <a href="shop_right_sidebar.html" class="pull-right"
                      ><i class="fa fa-heart-o"></i> Wishlist</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="product-info">
                  <div class="product-img">
                    <img src="img/shop/2.png" alt="" />
                  </div>
                  <h4>
                    <a href="recipe_detail-image.html">Food Name</a>
                  </h4>
                  <div class="rc-ratings">
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <div class="product-price">$100</div>
                  <div class="shop-meta">
                    <a href="shop_single_left.html" class="pull-left"
                      ><i class="fa fa-shopping-cart"></i> Add to cart</a
                    >
                    <a href="shop_right_sidebar.html" class="pull-right"
                      ><i class="fa fa-heart-o"></i> Wishlist</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="product-info">
                  <div class="product-img">
                    <img src="img/shop/3.png" alt="" />
                  </div>
                  <h4>
                    <a href="recipe_detail-image.html">Food Name</a>
                  </h4>
                  <div class="rc-ratings">
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star active"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </div>
                  <div class="product-price">$100</div>
                  <div class="shop-meta">
                    <a href="shop_single_left.html" class="pull-left"
                      ><i class="fa fa-shopping-cart"></i> Add to cart</a
                    >
                    <a href="shop_right_sidebar.html" class="pull-right"
                      ><i class="fa fa-heart-o"></i> Wishlist</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
{% endblock %}